<div class="row mt-3">
    <div class="col-md-12 d-flex align-items-center">
        <div class="">
            <h1 class="mb-3 text-light">Turn raw data into <span class="text-violet">AI-driven insights</span></h1>
            <h5 class="text-muted mb-5">An OpenAI-powered platform that analyzes your datasets and delivers clear, actionable insights in seconds.</h5>
            <div class="d-flex gap-3">
                <a class="btn btn-primary" href="#" data-bs-target="#staticBackdrop" data-bs-toggle="modal">Try it now <i class="bi bi-chevron-double-right"></i></a>
                <button class="btn btn-secondary">Contacts <i class="bi bi-chevron-double-right"></i></button>
            </div> 
            {% include "components/modal/upload_form.html" %}
        </div>
    </div>
</div>