<nav class="navbar navbar-expand-lg">
    <div class="container-fluid p-0">
        <a class="navbar-brand text-light fw-bold text-uppercase nav-align-left" href="#">
            Insight-4<span style="color: #5B21B6;" class="text-lowercase">o</span>
        </a>
        
        <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto gap-2 nav-align-right">
                {% if is_active %}
                <li class="nav-item">
                    <a class="nav-link btn-exit-slide" href="/quit_report">Terminate Report</a>
                </li>
                {% else %}
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>