{% for res in openai_response %}
<div class="col-sm-12 pb-5 pb-md-5">
    <div class="body" id="{{ res.topic | replace(' ', '-') }}">
        <h6 class="text-uppercase text-secondary small mb-2">Analysis 0{{ loop.index }}</h6>
        <h2 class="card-title text-white mb-4">{{ res.topic }}</h2>
        <div class="col-12 mt-4">
            <div class="card bg-black border-white rounded-0 mx-auto p-1">
                <div id="chart_{{ loop.index0 }}" class="w-100" style="height: 350px;"></div>
            </div>
        </div>
        <p class="text-secondary mt-4">{{ res.insight }}</p>
    </div>
</div>
{% endfor %}