{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}

<div>
    <div class="row bg-custom d-flex align-items-center">
        <div class="col-md-6 border-left block-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3 text-light">An AI-powered Platform</h2>
                    <h5 class="text-muted text-content">
                        InsightAI uses GPT-4o model to support analyze structured datasets and generate meaningful insights.
                    </h5>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-violet">
            
        </div>
    </div>
    <div class="row bg-custom-black d-flex align-items-center">
        <div class="col-md-6 grid-black border-right">
        
        </div>
        <div class="col-md-6 block-content">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mb-3 text-light">Why it Matters</h2>
                    <h5 class="text-muted text-content">
                        It makes smart AI-driven decisions faster, turning raw data into actionable insights in seconds.
                    </h5>
                </div>
            </div>
        </div>
        
    </div>
    <div class="row bg-custom">
        <h2 class="text-light py-3">Workflow</h2>
    </div>
    <div class="row">
        <div class="col-md-3 border-right border-bottom">
            <div class="card-workflow d-flex align-items-center px-1 px-md-1 py-3 py-md-5">
                <div>
                    <h6 class="text-light fw-bold mb-3">Data Preparation</h6>
                    <p class="text-muted">Your data is automatically cleaned and formatted.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 border-right border-bottom">
            <div class="card-workflow d-flex align-items-center px-1 px-md-1 py-3 py-md-5">
                <div>
                    <h6 class="text-light fw-bold mb-3">Topic Suggestions</h6>
                    <p class="text-muted">InsightAI looks at your data and recommends relevant topics to investigate.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 border-right border-bottom">
            <div class="card-workflow d-flex align-items-center px-1 px-md-1 py-3 py-md-5">
                <div>
                    <h6 class="text-light fw-bold mb-3">Implementation</h6>
                    <p class="text-muted">Suggested topics are used to run tasks that produce results.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 border-bottom">
            <div class="card-workflow d-flex align-items-center px-1 px-md-1 py-3 py-md-5">
                <div>
                    <h6 class="text-light fw-bold mb-3">Generated Insights</h6>
                    <p class="text-muted">InsightAI interprets the results and generates meaningful insights.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center p-3 bg-light">
        <div class="col-md-8 text-center">
            <h2 class="text-dark">Thank you for visiting Insight AI.</h2>
        </div>
    </div>
    
</div>

{% endblock %}